body {
  font-family: Arial, sans-serif;
  background-color: #F1F7C9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

p {
  color: #75B79E;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 56px;
  margin-bottom: 5%;
  letter-spacing: -0.4%;
  line-height: 100%;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height:80%;
}


.card{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img{
  width: 80px;
}