body {
  font-family: Arial, sans-serif;
  background-color: #F1F7C9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

p {
  color: #75B79E;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 56px;
  margin-bottom: 5%;
  letter-spacing: -0.4%;
  line-height: 100%;
}


.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 1000px;
  height: 500px;
  margin: 20px auto;
}

.card {
  width: 100px;
  height: 140px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.card .front-face,
.card .back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .front-face {
  background: white;
  transform: rotateY(180deg); /* fica "virada" inicialmente */
  z-index: 2;
}

.card .back-face {
  background: #2e8b57;
  z-index: 1;
}

.card.flip .front-face {
  transform: rotateY(0deg);
}

.card.flip .back-face {
  transform: rotateY(180deg);
}


.contador{
  color: red;
  font-size: 20px;
}